
body {
    background-color: #43d84f;
    color: #120391;
    font-family: arial, helvetica, sans-serif;
    padding: 15px;
    line-height: 1.4em
}

figure {
    background-color: aqua;
}
img {
  width: 50%;
  height: auto;
}