
body {
    background-color:#191970 ;
    color: lime;
    font-family: arial, helvetica, sans-serif;
    padding: 15px;
    line-height: 1.4em
}

figure {width: 30%;
    background-color: aqua;
}
img {
  width: 50%;
  height: auto;
}
/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: Lime;
}

/* selected link */
a:active {
  color: blue;
}